@media (min-width: 769px) {
  .navbar-expand-md {
    justify-content: center;
  }
  .navbar-collapse {
    justify-content: center;
  }
}
.navbar-expand-md {
  justify-content: center !important;
  align-items: center !important;
}
@media (max-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.nav-link:hover {
  font-size: medium;
}
